@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Permanent+Marker&display=swap');


:root {
    --bcolor: rgb(41, 41, 41);
    --dcolor: rgba(153, 205, 50, 0.438);
    --undelay: 2s;
}

html {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--bcolor);
    font-family: 'Comfortaa';
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 5%;
    
}

body > a {
    position: relative;
    bottom: 1vw;
    right: 1vw;
    color: var(--dcolor);
    align-self: flex-end;
    justify-self: end;
    order: 3;
}

body > a:link {
    text-decoration: none;
    
}

@keyframes dendranim {
    0% {
        font-size: 10pt;
        color: var(--bcolor);
        margin-top: 0px;
    }

    70% {
        color: var(--bcolor);
    }

    100% {
        font-size: 15vw ;
        color: var(--dcolor);
        text-shadow: black;
        margin-bottom: 2vh;
        margin-top: auto;
    }
}

@keyframes messanim {
    0% {
        color: var(--bcolor);
    }

    100% {
        color: rgb(151, 151, 151);
    }
}

.tomag {
    font-size: 200pt;
    color: var(--dcolor);
    order: 1;
    animation-name: dendranim;
    animation-duration: var(--undelay);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: auto auto auto auto;
    justify-self: center;
    align-self: center;
}

.almag {
    font-size: 3vmin;
    order: 2;
    color: var(--bcolor);
    animation-name: messanim;
    animation-delay: var(--undelay);
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.beta {
    margin: auto 0px 0px auto;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 2vmax;
    
}






/* Medias */

@media only screen and (max-width: 1024px) {
    .almag {
        font-size: 3vmax;
    }

    .beta {
        margin: auto auto 0px auto;
        font-size: 4vmin;
    }
}