

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Permanent+Marker&display=swap');

:root {
    --bcolor: rgb(41, 41, 41);
    --dcolor: rgba(153, 205, 50, 0.438);

    --parcolor: rgba(245, 245, 245, 0.5);

	--nav-height: 6vh;
	--par-fsz: 1vmax;
	--hea-fsz: 1.5vmax;

    --hea-fsz-mob: 1.5vmin;

    --mob-menu-txt-pad: 0px;

    --slides-dheight: 74vh;
}

html {
    font-family: Comfortaa;

    cursor: default;
}

body {
    margin: 0px;
    top: 48px;
    display: flex;
    flex-direction: column;
}

.maincon {
    background-color: whitesmoke;
}

.mottocon {
    background-color: rgba(0, 0, 0, 0.8);
}

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5vmin;
    margin: 5vw 7vw 5vw 7vw;
    border-radius: 7vw;
    
}

.person:hover {
    box-shadow: 0 2vw 4vw #00000050;
    transform: translateY(-0.4vh);
}

.person > img {
    height: 30vh;
    margin: 1vmin;
    border-radius: 20%;
    box-shadow: 0 2vw 4vw #00000050;
}

.pdescr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1vmin;
    margin: 0px 0px 0px 1vw;
}

.pdescr > img {
    height: 8vh;
    margin: 1vmin;
    border-radius: 10%;
    box-shadow: 0 2vw 4vw #00000050;
}

.pdescr > h2 {
    color: var(--dcolor);
    font-size: xx-large;
}

.pdescr > p {
    color: var(--parcolor);
    font-size: large;
}